html {
  height: 100%;
  background:linear-gradient(rgba(121, 163, 128, 0.6), rgba(75, 138, 198, 0.6));
  color: #534a4a;
}
header{
  background-image: url('assets/arbete.jpg'); 
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

body {
  font-family: Raleway, Barlow, Arial, Helvetica; 
}

h3 {
  color: #534a4a;
}

h2 {
  color:rgb(34, 37, 81);
}

h1 {
  color:rgb(98, 99, 114);
}



.page_title{
  color: azure;
  display: flex;
  padding: 14px 20px;
  background-color: rgba(34, 37, 81, 0.5);
  text-align: center;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

form {
  display: block;
  border: 1px solid #e8e8fd;
  border-radius: 4px;
  padding: 40px;
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
fieldset {
  background: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  width: 80%;
  margin: 0 10%;
  
  /*stacking fieldsets above each other*/
  position: relative;
}

label{
  display: flex;
  border-bottom: 1px solid #e8e8fd;
}
span{
  width: 30%;
  text-align: right;
  margin-right: 15px;
}
input{
  width: 100%;
}